body{margin: 0 0; padding: 0 0; font-family: 'Montserrat', sans-serif;}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1vw;
  grid-template-areas:
    ". . header header header header header header header header . ."
    ". . nav nav nav nav nav nav nav nav . ."
    "article article article article article article article article article article article article"
    ". . section section section section section section section section . ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
.grid * {color: #000000; background-color: white;}
header{grid-area: header;}
.header_grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.header_div1{
  display: grid;
  justify-items: left;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.header_div1 > div:nth-child(1) > span {
  font-size: 1.2vw;
}
.header_div1 > div:nth-child(2) > span:first-child {
  font-size: 1.2vw;
}
.header_div1 > div:nth-child(2) > a {
  font-size: 1.2vw;
}
.header_div1 > div:nth-child(2) > span:last-child {
  font-size: 1vw;
}
.header_div1 > div:nth-child(2) {
  font-size: 1vw;
  align-self: center;
}
.header_div1 > div:nth-child(3) {
  align-self: center;
  font-size: 1.5vw;
}
.header_div2{
  display: grid;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.header_div2 > div {
  align-self: center;
  font-size: 1vw;
}
.nav_grid {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 1vw;
}
.nav_grid > div:nth-child(1) {
  display: grid;
  justify-items: left;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  align-items:center;
  grid-template-rows: auto;
}
.nav_grid > div > a {
  text-align: center;
}
.nav_grid div:nth-child(2) {
  justify-self: right;
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 10px;
  background-color: #cc0000;
}
.nav_grid div:nth-child(2) > a{
  background-color: #cc0000;
  color: white;
}
header > div > div > img {
  width: 100%;
}
article{grid-area: article; padding: 0 0;}
article > img{width:100%; margin: 0 0; padding: 0 0;}
section{grid-area:section;}
.section_grid {
  padding-top: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-auto-rows: auto;
}
.section_grid div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_grid > div > div > img {
  width: 100%;
}
.section_grid > div > div > h2 {
  font-size: 1vw;
}
.section_grid > div > div > p {
  font-size: 1vw;
}
.section_grid > div> div > ul{
  margin: 0;
  padding: 0px;
  font-size: 0.8vw;
  background-color: #ddd;
  border-radius: 10px;
}
.section_grid > div > div > ul li{
  display: inline-block;
  position: relative;
  margin-right: 0px;
  width: 32.2%;
  background-color: #ddd;
  text-align: center;
  border-radius: 10px;
  padding: 0px;
}
.price_grid {
  margin-top: 1vw;
}
.price_grid > div{
  display: flex;
  flex-direction: row;
}
.price_grid > div:nth-child(1) {
  justify-self: start;
  align-self: top;
}
.price_grid > div:nth-child(1) > p {
  margin: 0;
  font-size: 1.5vw;
  display: inline-block;
}
.price_grid > div:nth-child(2) {
  justify-self: end;
  align-self: top;
}
.price_grid button {
  border-radius: 5px;
  border: none;
  display: inline-block;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-size: 0.8vw;
  background-color: #ffcb21;
}
footer{grid-area:footer; border: 2px solid black;}
.footer_grid {
  margin-top: 1vw;
  padding-top: 1vw;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1.25fr 1.25fr 1.25fr 1.25fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-column-gap: 1vw;
  grid-template-areas:
    ". . div1 div2 div3 div4 . div5 . ."
    ". . div6 div6 div7 div7 div8 div8 . ."
    ". . div9 div9 div9 div9 div10 div10 . .";
  background-color: #333;
}

.footer_grid div:nth-child(1){
  grid-area: div1;
}
.footer_grid div:nth-child(2){
  grid-area: div2;
}
.footer_grid div:nth-child(3){
  grid-area: div3;
}
.footer_grid div:nth-child(4){
  grid-area: div4;
}
.footer_grid div:nth-child(5) > a {
  text-decoration: none;
}
.footer_grid div:nth-child(5) > * {
  color: #fff;
}
.footer_grid div:nth-child(5){
  margin-top: 1vw;
  grid-area: div5;
}
.footer_grid div:nth-child(6){
  grid-area: div6;
}
.footer_grid div:nth-child(6) > p{
  background-color: transparent;
  color: #aaa;
  font-size:0.9vw;
  margin: 0;
}
.footer_grid div:nth-child(6) > p:first-child{
  color: #fff;
  font-weight: bold;
  font-size: 1.4vw;
  margin-top: 1vw;
}
.footer_grid div:nth-child(7){
  grid-area: div7;
}
.footer_grid div:nth-child(7) > p{
  background-color: transparent;
  font-size: 0.9vw;
  color: #aaa;
  margin: 0;
}
.footer_grid div:nth-child(7) > p:first-child{
  color: #fff;
  font-weight: bold;
  font-size: 1.4vw;
  margin-top: 1vw;
}
.footer_grid > div:nth-child(8) > a {
  color: #aaa;
  font-size: 1vw;
}
.footer_grid div:nth-child(8){
  align-self: flex-end;
  grid-area: div8;
}
.footer_grid div:nth-child(9){
  margin-top: 1vw;
  grid-area: div9;
}
.footer_grid div:nth-child(9) > span{
  font-size: 1vw;
  color: #aaa;
  background-color: transparent;
}
.footer_grid div:nth-child(9) > a{
  color: #aaa;
  font-size: 1vw;
}
.footer_grid div:nth-child(10){
  grid-area: div10;
}
.footer_grid div:nth-child(10) > img{
  display: inline-block;
  width: 40%;
  height: 3vw;
  background-color: transparent;
  float: right;
}

.footer_grid div:nth-child(10) > img:first-child{
}
.footer_grid div:nth-child(10) > img:last-child{
  margin-top: 0.4vw;
  margin-right: 1vw;
  height: 2.3vw;
}
.footer_grid ul{
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  margin-bottom: 1vw;
  margin-top: 1vw;
  margin-right: 2vw;
  padding: 0;
  font-size: 0.95vw;
  display: inline-block;
}
.footer_grid ul li, .footer_grid ul lh {
  text-decoration: none;
  background-color: transparent;
}
.footer_grid ul lh {
  font-weight: bold;
  color: white;
}
.footer_grid div {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 1vw;
}
.footer_grid > div > a {
  font-size: 1.5vw;
  background-color: transparent;
  margin-bottom: 0;
}
.footer_grid > div > ul > li > a {
  background-color: transparent;
  font-size: 0.9vw;
  color: #aaa;
}
.footer_grid > div > span:nth-child(3) {
  padding: 0;
  font-size: 0.8vw;
  background-color: transparent;
}
.footer_grid > div > span:nth-child(5) {
  font-size: 1vw;
  display: inline-block;
  margin-top: 12px;
  background-color: transparent;
}
